.app {
  .btn {
    width: 20rem;
    height: 6rem;
    background: #dcdcdc;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 1.6rem 2.2rem;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    border-radius: 8px;
  }
}
