*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
  font-family: 'Futura PT';
}

h3 {
  font-style: normal;
  font-weight: 450;
  font-size: 3.6rem;
  line-height: 4.6rem;
  color: #000000;
}

h4 {
  font-style: normal;
  font-weight: 450;
  font-size: 2.4rem;
  line-height: 3.1rem;
  letter-spacing: 0.05rem;
}



@font-face {
  font-family: 'Futura PT';
  src: url('assets/fonts/FuturaPT-Medium.eot');
  src: local('assets/fonts/Futura PT Medium'),
    local('assets/fonts/FuturaPT-Medium'),
    url('assets/fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FuturaPT-Medium.woff') format('woff'),
    url('assets/fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
